*{
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
body{
    margin: 10px;
    
}
h1 ,h2{
    margin: 0;
    color: white;
}
.main-add h2{
    margin: 10px 0px;
    color: black;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}
.main-edit h2{
    margin: 10px 0px;
    border-radius: 10px;
    color: black;
    background-color: white;
    padding: 10px;
}
.student-table h2{
   margin: 10px 0px;
   border-radius: 10px;
    color: black;
    padding: 10px;
    background-color: white;
}
header{
    background-color: black;
}
header h1{
    text-align: center;
    color: white;
    padding: 20px;
    border-bottom: 5px solid white;
}

/*Crud Operation*/

.crud-form{
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(degree-of-blur);
}
label{
    display: block;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-family:  "Noto Sans", sans-serif;

}
.addform{
    
    padding: 30px;
    max-width: 1000px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 20px black;
}
.editform{
    
    padding: 30px;
    max-width: 1000px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 20px black;
}
.addinputs{
    margin: 10px 0px;
    width: 100%;
    text-align: center;
    color: black;
    padding: 10px;
    font-size: 16px;
}
.inputs{
    padding: 10px;
    width: 100%;
    border-radius: 10px;

}
input[type='submit']{
    align-content: center;
    width: 100%;
    border: 10px gray;
    padding: 10px;
    border-radius: 20px;
    background-color:white;
    color:black;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 10px;
    
}
input[type='submit']:hover
/*input[type='submit']:focus*/ {
 /*  background-color: aqua;
    box-shadow: 5px black;
  box-shadow:0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);*/
  background-color: aqua;
    color: black;
   zoom: 1.2;
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    cursor: pointer;
    transition: 0.3s;


}
.text-area{
    resize: none;
}
.text-area:focus{
    border: 0;
    outline: 0;
    border-radius: 10px;
}
.addinputs label{
    margin: 5px 0px;
}
.mainback{
    
    padding: 10px;
 /*  background-image: url(assets/vadher.jpg);*/
    max-height: 100%;
    max-width: 100%;
     
}